{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/myabout.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>About</title>
</head>
<body>
    <h1>Ada Perubahan atas Template tersebut</h1>

    <h1>admin</h1>
    <p>username: nindiappc</p>
    <p>password: nindia123</p>

    <h1>Sosmed</h1>
    <ul>
        <li><i class='bx bxl-whatsapp icons'><a href="https://wa.me/qr/JFXB7B47OQPUP1" style="text-decoration: none;">Whatsaap</a></i></li>
        <li><i class='bx bxl-instagram icons'><a href="https://instagram.com/fixbelanjaonline?igshid=OGQ5ZDc2ODk2ZA==" style="text-decoration: none;">Instagram</a></i></li>
        <li><i class='bx bxl-twitter icons'><a href="https://twitter.com/nindiappc?t=fw9oek9MNq9Sm1Z0-aO1_Q&s=08" style="text-decoration: none;">Twitter</a></i></li>
        <li><i class='bx bxl-youtube icons'><a href="https://www.youtube.com/@caylayoutube1" style="text-decoration: none;">Youtube</a></i></li>
    </ul>
    <button><a href="nindia" style="text-decoration: none; color: rgb(7, 76, 136);" >Nindiappc</a></button>
</body>
</html>