{% extends 'visual.html' %}
{% load static %}

{% block title %}
Visual
{% endblock title %}

{% block menu %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <nav>
        <div class="nav-bar">
            <i class="bx bx-menu sidebarOpen"></i>
            <span class="logo navLogo"><a href="#">Nindiappc</a></span>

            <div class="menu">
                <div class="logo-toggle">
                    <span class="logo"><a href="#">Nindiappc</a></span>
                    <i class="bx bx-x sidebarClose"></i>
                </div>

                <ul class="nav-links">
                    <li><a href="profile">Profile</a></li>
                    <li><a href="music">Music</a></li>
                    <li><a href="product">Product</a></li>
                    <li><a href="admin">Admin</a></li>
                    <li><a href="about">About</a></li>
                </ul>
            </div>

            <div class="darkLight-searchBox">
                <div class="dark-light">
                    <i class="bx bx-moon moon"></i>
                    <i class="bx bx-sun sun"></i>            
                </div>

                <div class="searchBox">
                    <div class="searchToggle">
                    <i class="bx bx-x cancel"></i>
                    <i class="bx bx-search search"></i>
                    </div>

                    <div class="search-field">
                        <input type="text" placeholder="Search...">
                        <i class="bx bx-search"></i>
                    </div>            
                </div>
            </div>
            </div>
        </div>
    </nav>

    <script src="{% static 'js/script.js' %}"></script>
{% endblock menu %}

{% block content %}
<img src="{% static 'images/layout.jpeg' %}" alt="" width="1400px">
{% endblock content %}