{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'css/myproduck.css' %}">
<head>
    <title>Product</title>
</head>
<body>

    <table>
        <tr>
            <td>
                <figure class="figure">
                    <img src="{% static 'images/astronout.jpg' %}" class="img" alt="...">
                    <p class="judul">Jin (BTS) The Astronout (Set)</p>
                    <h1 class="harga">$27.88</h1>
                  </figure>
            </td>
            <td>
                <figure class="figure">
                    <img src="{% static 'images/d-day.jpg' %}" class="img" alt="...">
                    <p class="judul">Agust D (BTS) 'D-DAY' (Set) + 'D-DAY' (Weverse Albums ver.) Set</p>
                    <h1 class="harga">$40.18</h1>
                  </figure>
            </td>
            <td><figure class="figure">
                <img src="{% static 'images/box.jpg' %}" class="img" alt="...">
                <p class="judul">j-hope (BTS) Jack In The Box [LP] (Limited Edition)</p>
                <h1 class="harga">$42.64</h1>
              </figure>
            </td>
            <td><figure class="figure">
                <img src="{% static 'images/indigo.jpg' %}" class="img" alt="...">
                <p class="judul">RM (BTS) 'Indigo' (Set)</p>
                <h1 class="harga">$24.43</h1>
              </figure>
            </td>
        </tr>
        <tr>
            <td><figure class="figure">
                <img src="{% static 'images/face.png' %}" class="img" alt="...">
                <p class="judul">Jimin (BTS) 'FACE' (Set) + 'FACE' (Weverse Albums ver.) Set</p>
                <h1 class="harga">$40.18</h1>
              </figure>
            </td>
            <td><figure class="figure">
                <img src="{% static 'images/over.jpg' %}" class="img" alt="...">
                <p class="judul">V (BTS) 'Layover' (Set) + 'Layover' (Weverse Albums ver.) Set</p>
                <h1 class="harga">$57.15</h1>
              </figure>
            </td>
            <td><figure class="figure">
              <img src="{% static 'images/golden.jpg' %}" class="img" alt="...">
              <p class="judul">Jung Kook (BTS) 'GOLDEN' (Set) + 'GOLDEN' (Weverse Albums ver.) Set</p>
              <h1 class="harga">$58.54</h1>
            </figure>
          </td>
          <td><figure class="figure">
            <button><a href="nindia" style="text-decoration: none; color: rgb(4, 8, 12);">Kembali</a></button>
          </figure>
        </td>
        </tr>
    </table>
</body>
</html>